*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 3rem;
    background-color: rgb(36, 35, 35);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: lightgray;
    margin-top: 200px;
}

h1{
    margin: 2rem;
}

.film-container{
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}